.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.header-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-menu-container {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.avatar-container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    vertical-align: center;
    margin: 0 20% 0 0;
}

.auth-button {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    margin: 0 20% 0 0;
    background-color: rgba(239, 151, 44, 1);
}

.auth-button:hover, .auth-button:focus {
    background-color: rgba(239, 130, 44, 1);
}

.content-menu {
    margin-top: 30px;
    width: 70%;
    padding: 15px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    color: #ffffff;
    background-color: rgba(239, 151, 44, 1);
}

.navigation a {
    color: #ffffff;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
}

.navigation h2 {
    text-align: center;
    vertical-align: center;
    margin-top: 0;
}

.navigation li {
    margin-bottom: 20px;
}

.dropbtn {
    margin-top: 30px;
    padding: 15px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    color: #ffffff;
    background-color: rgba(239, 151, 44, 1);
    cursor: pointer;
    font-family: "NAMU 1750", serif;
    font-size: 25px;
    line-height: normal;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(239, 130, 44, 1);
}

.dropdown {
    position: relative;
    text-align: right;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 10px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    background-color: rgba(239, 151, 44, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    width: 100%;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 4px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content ul {
    list-style: none;
    padding-left: 0;
}

.dropdown-content li {
    padding: 0 12px 0 12px;
}

.dropdown-content a:hover {
    background-color: rgba(239, 130, 44, 1);
}

.show {
    display: block;
}

.code-style {
    background-color: #fafaff;
    border: 2px solid #c6c4f4;
    border-radius: 4px;
    color: #3632ad;
    font-family: "Courier New", "Courier", monospace;
}

.site-footer {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    text-align: center;
    background-color: #ef972c;
    color: #ffffff;
    flex: 0 0 auto;
    margin-bottom: 2%;
}

.site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 3px;
}

.site-footer a {
    color: #ffffff;
}

.white-text {
    color: #ffffff;
}

.drop-shadow-filter {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}