.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.header-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-menu-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.site-header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu {
    height: max-content;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    text-align: center;
    background-color: #ef972c;
    color: #ffffff;
    flex: 0 0 auto;
}

#navigation-bar .active,
#myDropdown .active {
    background-color: rgba(239, 130, 44, 1);
    border-radius: 1em;
    font-weight: bold;
}

.avatar {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    vertical-align: center;
    margin: 0 20% 0 0;
}

.auth-button {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    margin: 0 20% 0 0;
    background-color: rgba(239, 151, 44, 1);
}

.auth-button:hover, .auth-button:focus {
    background-color: rgba(239, 130, 44, 1);
}

.content-menu {
    width: 75%;
    min-height: 100%;
    padding: 15px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    color: #ffffff;
    background-color: rgba(239, 151, 44, 1);
}

.forum-menu {
    width: 60%;
    min-height: 100%;
    padding: 15px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    color: #ffffff;
    background-color: rgba(239, 151, 44, 1);
}

#content-menu-without-design {
    border-radius: 0;
    padding: 0;
    background-color: white;
}

.navigation a {
    color: #ffffff;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
}

.navigation h2 {
    text-align: center;
    vertical-align: center;
    margin-top: 0;
}

.navigation li {
    margin-bottom: 20px;
}

.dropbtn {
    margin-top: 30px;
    padding: 15px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    color: #ffffff;
    background-color: rgba(239, 151, 44, 1);
    cursor: pointer;
    font-family: "Calibri", serif;
    font-size: 25px;
    line-height: normal;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(239, 130, 44, 1);
}

.dropdown {
    position: relative;
    text-align: right;
    display: none;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 10px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1.5em;
    background-color: rgba(239, 151, 44, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    width: 100px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 4px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.dropdown-content ul {
    list-style: none;
    padding-left: 0;
}

.dropdown-content li {
    padding: 0 12px 0 12px;
    margin: 0;
    height: max-content;
}

.dropdown-content a:hover {
    background-color: rgba(239, 130, 44, 1);
}

.show {
    display: block;
}

.code-style {
    background-color: #fafaff;
    border: 2px solid #c6c4f4;
    border-radius: 4px;
    color: #3632ad;
    font-family: "Courier New", "Courier", monospace;
}

.site-footer {
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    text-align: center;
    background-color: #ef972c;
    color: #ffffff;
    flex: 0 0 auto;
    margin-bottom: 2%;
}

.site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 3px;
}

.site-footer a {
    color: #ffffff;
}

.white-text {
    color: #ffffff;
}

.picture-with-drop-shadow-filter {
    width: 95%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.display-block-max-width-890 {
    display: none;
}

@media screen and (max-width: 890px) {
    .display-block-max-width-890 {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .main-menu-max-width-1200 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content-menu,
    .forum-menu {
        width: 95%;
    }

    .navigation-menu,
    .topic-menu {
        display: none;
    }

    .dropdown {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
    }

    .dropdown-content a {
        width: auto;
    }

    .dropdown-content ul {
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width: 750px) {
        .dropdown-content ul {
            flex-direction: column;
        }
    }

    .dropdown-content li {
        display: inline;
    }
}

@media screen and (max-width: 850px) {
    .display-none-max-width-850 {
        display: none;
    }
}

.display-block-max-width-850 {
    display: none;
}

@media screen and (max-width: 850px) {
    .display-block-max-width-850 {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .dropdown-content li {
        display: list-item;
    }
}

.grid-container {
    display: grid;
    min-height: 400px;
    border: 3px solid rgba(122, 98, 63, 1);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 2fr);

    grid-template-areas:
    "Heading        Heading         Heading         Heading"
    "heading1       heading2        heading2        heading2"
    "heading1       makaka1         makaka2         makaka3"
    "odd-Cell1      odd-cell21      odd-cell31      odd-cell41"
    "even-Cell12    even-Cell       even-Cell       even-Cell"
    "odd-Cell13     odd-cell23      odd-cell33      odd-cell43"
    "even-Cell14    even-cell24     even-cell34     even-cell44"
    "odd-Cell15     odd-cell25      odd-cell35      odd-cell45";
}

.Heading {
    grid-area: Heading;
    display: grid;
    place-items: center;
    justify-items: center;
    background-color: rgba(211, 211, 211, 0.6);
    font-size: 35px;
    font-weight: bolder;
}

.heading1 {
    grid-area: heading1;
    display: grid;
    place-items: center;
    justify-items: center;
    background-color: rgba(211, 211, 211, 0.6);
    font-size: 25px;
    font-weight: bolder;
}

.heading2 {
    grid-area: heading2;
    display: grid;
    place-items: center;
    justify-items: center;
    background-color: rgba(211, 211, 211, 0.6);
    font-size: 25px;
    font-weight: bolder;
}

.even-Cell {
    grid-area: even-Cell;
    display: grid;
    place-items: center;
    justify-items: center;
}

.header-cell {
    display: grid;
    border: 3px solid rgba(122, 98, 63, 1);
}

.common-cell {
    display: grid;
    align-content: center;
    place-items: center;
    border: 1px solid rgba(122, 98, 63, 1);
    padding: 7px;
}

[class^="makaka"] {
    display: grid;
    place-items: center;
    background-color: rgba(211, 211, 211, 0.4);
    font-style: italic;
}

[class^="odd-Cell1"], [class^="even-Cell1"] {
    display: grid;
    place-items: end;
    align-content: center;
    font-style: italic;
}

[class^="odd-"] {
    background-color: rgba(211, 211, 211, 0.3);
}

@media screen and (max-width: 500px) {
    .display-hidden-max-width-500 {
        display: none;
    }

    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 890px) {
    .display-hidden-max-width-890 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .display-hidden-max-width-1000 {
        display: none;
    }
}

.horizontal-text-align {
    text-align: center
}

#load-time {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}

.topic-menu {
    margin: 0;
    padding: 10px;
    height: max-content;
    width: 154px;
    border: 5px solid rgba(122, 98, 63, 1);
    border-radius: 1em;
    text-align: center;
    background-color: #ef972c;
    color: #ffffff;
    flex: 0 0 auto;
}